[submodule "externals/glslang"]
	path = externals/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "externals/mongoose"]
	path = externals/mongoose
	url = https://github.com/cesanta/mongoose.git
